.wrapper {
    height: 25px;
}
.wrapper ul {
    display: flex;
    justify-content: space-between;
}

.wrapper li {
    list-style-type: none;
}

.container {
    background-color: #EFF2F5;
    height: 1057px;
}

.form {
    margin: 10px;
}